<%= render partial: "shared/nav" %>

<h1><%= @coupon.name %></h1>
<h3>Unique Code: <%= @coupon.code %></h3>
<h3>Coupon's Status: <%= @coupon.status %></h3>
<h3>Value: <%= @coupon.amount %> <%= @coupon.discount %> Off</h3>
<h3>Used <%= @coupon.count %> Times</h3>

